/**
IF YOU HAVE ANY ISSUES PLEASE CREATE AN ISSUE ON GITHUB: https://github.com/easaw/ThinkDark/issues
1) This theme is to be used with a CSS extension for your Browser. It should only be applied to x.thukable.com/projects/*
2) This code may be editied but please do not share it on the Thunkable community, please use the instructions on https://github.com/easaw/ThinkDark so everyone has the latest version.
3) This is the Purple version of ThinkDark for Thunk.
4) This code only contains CSS. No PHP or malicious code is included.
5) This CSS may not be included in other projects, including Thunkable X itself, without written permission from https://github.com/easaw/
No details of your project can be seen by the Stylebot Chrome Extension, that has it's own terms and conditions. Stylebot only processes CSS (it should not process JavaScript).
This CSS is provided with no warranty whatsoever and is not guaranteed to fully work at any time.
Colours:
#150934
#240f57
#321579
#401C9C
#4E22BF
#5F2FDA
#7A52E0
#9574E7
**/
.blocklyDisabled path{fill:#777 !important;}
div.project-editor{background-color:#150934 !important;overflow:auto !important;}
.blocklyFlyoutBackground{fill:#240f57 !important;fill-opacity:.7 !important;}
.blocklyFlyout{border-right:1px solid #5F2FDA !important;}
.blocklyMainBackground{fill:#150934 !important;stroke:none !important;}
.blocklySvg{background-color:#000 !important;}
.blocklyToolboxDiv{background-color:#321579 !important;color:#fff !important;border-right:1px solid #5F2FDA !important;box-shadow:5px 0 30px 5px #0E0623 !important;z-index:2 !important;}
.blocklyTreeRow{line-height:19px !important;}
.blocklyTreeRow:not(.blocklyTreeSelected):hover{background-color:#5F2FDA !important;}
.blocklyTreeSelected .blocklyTreeLabel{color:#fff !important;font-weight:500 !important;}
.component-tree .caret{color:#cdac46 !important;margin-left:2px !important;}
.phone-preview{background:url(https://raw.githubusercontent.com/easaw/ThinkDark/master/SmartPhone_Bezel_v10_glow.png) no-repeat !important;background-size:contain !important;margin-top:20px !important;}
.properties-selector div.ant-tabs-tab{margin:0 0 16px !important;border-bottom:1px solid #7A52E0 !important;}
.properties-panel .ant-tabs-nav .ant-tabs-tab{color:#eee !important;background-color:#321579 !important;}
.properties-panel .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active{background-color:#5F2FDA !important;color:#fff !important;}
.properties-panel .property-component-name-container{padding-top:10px !important;padding-bottom:8px !important;border-bottom:none !important;background-color:transparent !important;}
.properties-panel{border-left:1px solid #4E22BF !important;box-shadow:-5px 0 30px 5px #070311 !important;z-index:2 !important;}
.designer div.designer-sidebar-container{border-right:1px solid #5F2FDA !important;box-shadow:5px 0 30px 5px #070311 !important;z-index:2 !important;}
div.ant-tabs-tab:hover{color:#eee !important;background-color:#38188c !important;}
.properties-selector div.ant-tabs-tab-active.ant-tabs-tab{background-color:#444 !important;}
.tree-node-children,.tree-title-children{border-left:2px solid #aaa !important;}
.tree-node-item-wrapper{border-left:0 !important;border-right:0 !important;border-width:2px !important;}
.tree-node-item-wrapper.active img.view-icon{filter:invert(100%) brightness(2000%) contrast(100%) saturate(0%) hue-rotate(180deg) !important;}
.tree-node-item-wrapper.active .tree-node-item{background-color:#4E22BF !important;}
.tree-node-item-wrapper:active,.tree-node-item-wrapper:focus,.tree-node-item-wrapper:hover,.tree-node-item:hover{background-color:#321579 !important;background-image:none !important;border:3px 0 solid #333 !important;color:#fff !important;}
div.ant-alert.ant-alert-error.ant-alert-banner.ant-alert-closable.banner{background-color:#222 !important;color:#fff !important;}
div.ant-col.ant-form-item-label{color:#fff !important;}
div.ant-col.ant-form-item-label label{color:#fff !important;}
div.ant-tabs-ink-bar{background-color:#9574E7 !important;}
div.ant-tabs-tab-active.ant-tabs-tab{background-color:#5F2FDA !important;color:#fff !important;}
div.asset-tree-header.designer-sidebar-title{color:#fff !important;}
div.banners{background-color:#222 !important;}
div.component-gallery-header{color:#fff !important;background-color:#150934 !important;}
div.component-gallery-panel{background-color:#150934 !important;border-style:none !important;}
div.designer{background-color:#150934 !important;}
div.designer-sidebar-container{background-color:#150934 !important;color:#fff !important;}
div.gallery-item{color:#fff !important;}
div.gallery-item-wrapper,.ant-menu-submenu,.ant-menu-sub,.ant-menu-item{background-color:transparent !important;}
div.gallery-items{background-color:#240f57 !important;border:none !important;}
.gallery-items{width:auto !important;padding:5px !important;margin-left:0 !important;margin-right:0 !important;}
div.invisible-component-bar{background-color:#240f57 !important;border-bottom-width:1px !important;border-color:#5F2FDA !important;border-left-width:1px !important;border-right-width:1px !important;border-style:solid !important;border-top-width:1px !important;box-shadow:5px 0 30px 5px #070311 !important;}
.invisible-component-container:hover{background:#321579 !important;border-radius:4px !important;padding:4px !important;border:1px solid #5F2FDA !important;cursor:pointer !important;}
.invisible-component-container:hover .view-icon{filter:brightness(2000%) !important;}
.invisible-component-container:hover .view-icon[src="/static/media/viewIconFirebaseDB.124dd0d4.svg"]{filter:brightness(100%) !important;}
div.preview-container{background-color:#0E0623 !important;}
div.project-nav{background-color:#150934 !important;}
div.project-nav-item span{color:#fff !important;}
div.project-nav-item.logo-item{background-color:#150934 !important;}
div.screen-tab-container{background-color:#1C0C46 !important;}
div.title-bar{background-color:#1C0C46 !important;border:1px solid #401C9C !important;}
div.title.designer-sidebar-title span{color:#fff !important;}
div.tree-node-children-wrapper{background-color:#240f57 !important;}
div.tree-node-item-wrapper{background-color:#000 !important;border-color:#303030 !important;border-style:solid !important;border-top-width:0 !important;color:#fff !important;}
div.tree-node-item.project-settings{border-left-width:0 !important;border-right-width:0 !important;border-style:none !important;border-top-width:0 !important;background-color:#150934 !important;}
div.tutorial-panel-container{background-color:#150934 !important;}
form.ant-form.ant-form-vertical.properties-panel{background-color:#240f57 !important;color:#fff !important;}
.properties-selector .ant-tabs-tab-prev,.properties-selector .ant-tabs-tab-next{display:none !important;}
.properties-selector .ant-tabs-nav-container-scrolling{padding-right:0 !important;padding-left:0 !important;}
i.anticon.anticon-ellipsis.resize-handle-ellipsis{background-color:#321579 !important;color:#fff !important;border-top:1px solid #5F2FDA !important;border-bottom:1px solid #5F2FDA !important;}
i.anticon.anticon-ellipsis.resize-handle-ellipsis:hover,i.anticon.anticon-ellipsis.resize-handle-ellipsis:active{background-color:#5F2FDA !important;-moz-box-shadow:0 0 8px 2px #5F2FDA !important;-webkit-box-shadow:0 0 8px 2px #5F2FDA !important;box-shadow:0 0 8px 2px #5F2FDA !important;z-index:50 !important;}
li.ant-menu-item.ant-menu-item-active{background-color:#000 !important;border-style:none !important;}
rect.blocklyMainBackground{background-color:#000 !important;}
span.ant-alert-message div{color:#fff !important;}
span.invisible-component-name{color:#fff !important;}
span.properties-component-label{color:#fff !important;}
ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline{background-color:#150934 !important;border-style:none !important;}
ul.ant-menu.ant-menu-sub.ant-menu-inline{background-color:#150934 !important;}
.title-bar .tabs .tab{background-color:#150934 !important;color:#fff !important;border-color:#7A52E0 !important;}
.title-bar .tabs .tab:hover{background-color:#401C9C !important;color:#fff !important;border-color:#713Df5 !important;}
.gallery-item img:nth-child(2){border-radius:25px !important;}
.title-bar .tabs .tab.active:hover{background-color:#5F2FDA !important;}
.gallery-item{border:1px solid #5F2FDA !important;margin-bottom:2px !important;margin-top:2px !important;background:#240f57 !important;box-shadow:0 3px 4px 2px #150934 !important;cursor:pointer !important;}
.blocklyTreeRow:hover,.blocklyTreeLabel:hover{cursor:pointer !important;}
.new-screen-button:hover{box-shadow:0 0 8px 2px #5F2FDA !important;background:#5F2FDA !important;border:1px solid #5F2FDA !important;}
.new-screen-button{box-shadow:0 0 6px 1px #150934 !important;border:1px solid #5F2FDA !important;background:#240f57 !important;}
.anticon.anticon-plus svg{fill:#FFF !important;}
.gallery-item:hover .icon{filter:invert(100%) brightness(2000%) contrast(100%) saturate(0%) hue-rotate(180deg) !important;}
.ant-tabs-tab-prev-icon-target svg,.ant-tabs-tab-next-icon-target svg{fill:#fff !important;font-size:16px !important;margin-top:8px !important;font-weight:700 !important;width:1.2em !important;height:1.2em !important;}
.ant-menu-inline .ant-menu-item:after,.ant-menu-vertical-left .ant-menu-item:after,.ant-menu-vertical-right .ant-menu-item:after,.ant-menu-vertical .ant-menu-item:after{border-right:none !important;}
div.title.designer-sidebar-title{background-color:#150934 !important;color:#fff !important;}
.gallery-item:hover{box-shadow:0 0 8px 3px #5F2FDA !important;background:#5F2FDA !important;border:1px solid #5F2FDA !important;}
.ant-menu-sub.ant-menu-inline>.ant-menu-item{background-color:#240f57 !important;}
.ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow:after,.ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow:before,.ant-menu-submenu-vertical-left>.ant-menu-submenu-title .ant-menu-submenu-arrow:after,.ant-menu-submenu-vertical-left>.ant-menu-submenu-title .ant-menu-submenu-arrow:before,.ant-menu-submenu-vertical-right>.ant-menu-submenu-title .ant-menu-submenu-arrow:after,.ant-menu-submenu-vertical-right>.ant-menu-submenu-title .ant-menu-submenu-arrow:before,.ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow:after,.ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow:before{background:#9574E7  !important;}
.ant-menu-submenu-inline .ant-menu-submenu-title{margin:5px 0 0 !important;}
.ant-menu-submenu-active .ant-menu-submenu-title,.ant-menu-submenu-open .ant-menu-submenu-title{margin-top:5px !important;}
.ant-tabs-nav .ant-tabs-tab{margin:0 16px !important;}
ul::-webkit-scrollbar,div::-webkit-scrollbar{display:none !important;background-color:#150934 !important;}
div,ul,nav,body{-ms-overflow-style:none !important;}
.ant-select-focused .ant-select-selection,.ant-select-selection:active,.ant-select-selection:focus{border-color:#5F2FDA !important;box-shadow:0 0 8px 2px #7A52E0 !important;}
.ant-select-selection{background:#321579 !important;color:#fff !important;border:1px solid #7A52E0 !important;}
.component-gallery-panel .ant-menu-submenu-title{border-bottom:1px solid #5F2FDA !important;}
.ant-collapse-content.ant-collapse-content-active{background-color:#240f57 !important;}
.ant-form-item-children div{color:#FFF !important;}
.ant-menu-submenu-active .ant-menu-submenu-title,.ant-menu-submenu-open .ant-menu-submenu-title{margin-top:5px !important;transition:.1s ease-in-out !important;}
.ant-menu-submenu-inline .ant-menu-submenu-title{margin:5px 0 0 !important;transition:.1s ease-in-out !important;}
.ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow:after,.ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow:before,.ant-menu-submenu-vertical-left>.ant-menu-submenu-title .ant-menu-submenu-arrow:after,.ant-menu-submenu-vertical-left>.ant-menu-submenu-title .ant-menu-submenu-arrow:before,.ant-menu-submenu-vertical-right>.ant-menu-submenu-title .ant-menu-submenu-arrow:after,.ant-menu-submenu-vertical-right>.ant-menu-submenu-title .ant-menu-submenu-arrow:before,.ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow:after,.ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow:before{background:#9574E7 !important;}
.ant-select-selection{background:#321579 !important;border:1px solid #7A52E0 !important;color:#fff !important;}
.ant-tabs-tab-prev-icon-target svg,.ant-tabs-tab-next-icon-target svg{fill:#fff !important;font-size:16px !important;font-weight:700 !important;height:1.2em !important;margin-top:8px !important;width:1.2em !important;}
.blocklyToolboxDiv{background-color:#321579 !important;border-right:1px solid #5F2FDA !important;box-shadow:5px 0 30px 5px #0E0623 !important;color:#fff !important;z-index:2 !important;}
.component-gallery-panel .ant-menu-submenu-title{border-bottom:1px solid #5F2FDA  !important;}
.gallery-item{background:#240f57 !important;border:1px solid #5F2FDA !important;box-shadow:0 3px 4px 2px #150934 !important;cursor:pointer !important;margin-bottom:2px !important;margin-top:2px !important;}
.gallery-item:hover{background:#5F2FDA !important;border:1px solid #5F2FDA !important;box-shadow:0 0 8px 3px #5F2FDA !important;}
.gallery-items{margin-left:0 !important;margin-right:0 !important;padding:10px 5px !important;width:auto !important;}
.invisible-component-container{background:transparent !important;border:1px solid transparent !important;border-radius:4px !important;padding:4px !important;}
.invisible-component-container:hover{background:#321579 !important;border:1px solid #5F2FDA !important;border-radius:4px !important;cursor:pointer !important;padding:4px !important;}
.invisible-component-container:hover .view-icon{filter:brightness(200%) !important;}
.invisible-component-container:hover .view-icon[src="https://x.thunkable.com/static/media/viewIconFirebaseDB.124dd0d4.svg"]{filter:brightness(200%) !important;}
.new-screen-button{background:#240f57 !important;border:1px solid #5F2FDA !important;box-shadow:0 0 6px 1px #150934 !important;}
.new-screen-button:hover{background:#5F2FDA !important;border:1px solid #5F2FDA !important;box-shadow:0 0 8px 2px #5F2FDA !important;}
.properties-panel .ant-tabs-nav .ant-tabs-tab{background-color:#321579 !important;color:#eee !important;}
.properties-panel .property-component-name-container{background-color:transparent !important;border-bottom:none !important;padding-bottom:8px !important;padding-top:10px !important;}
.properties-selector .ant-tabs-nav-container-scrolling{padding-left:0 !important;padding-right:0 !important;}
.properties-selector div.ant-tabs-tab{border-bottom:1px solid #7A52E0 !important;margin:0 0 16px !important;}
.title-bar .tabs .tab{background-color:#150934 !important;border-color:#7A52E0 !important;color:#fff !important;}
.title-bar .tabs .tab:hover{background-color:#401C9C !important;border-color:#713Df5 !important;color:#fff !important;}
.title-bar .tab.active{background-color:#5F2FDA !important;color:#fff !important;border-color:#713Df5 !important;}
.tree-node-children,.tree-title-children{border-left:2px solid #aaa !important;}
.tree-node-item.project-settings{border-radius:0 !important;}
.component-gallery-panel .ant-menu-submenu-title{background-color:#321579  !important;border:1px solid #5F2FDA  !important;border-bottom:1px solid #5F2FDA  !important;color:#fff  !important;}
div.ant-tabs-tab:hover{background-color:#38188c !important;color:#eee !important;}
div.component-gallery-header{background-color:#150934 !important;color:#fff !important;}
div.component-gallery-panel{background-color:#150934 !important;border-style:none !important;padding:5px 10px !important;}
div.project-nav .banners{background-color:#0E0623 !important;}
div.project-nav-item a img{content:url(https://hertforddesign.uk/files/thunk-nav-logo.png) !important;}
div.tree-node-item.project-settings{background-color:#150934 !important;border-left-width:0 !important;border-right-width:0 !important;border-style:none !important;border-top-width:0 !important;}
i.anticon.anticon-ellipsis.resize-handle-ellipsis{background-color:#321579 !important;border-bottom:1px solid #5F2FDA !important;border-top:1px solid #5F2FDA !important;color:#fff !important;}
i.anticon.anticon-ellipsis.resize-handle-ellipsis:hover,i.anticon.anticon-ellipsis.resize-handle-ellipsis:active{-moz-box-shadow:0 0 8px 2px #5F2FDA !important;-webkit-box-shadow:0 0 8px 2px #5F2FDA !important;background-color:#5F2FDA !important;box-shadow:0 0 8px 2px #5F2FDA !important;z-index:50 !important;}
ul.ant-menu.ant-menu-sub.ant-menu-inline{background-color:#150934 !important;margin-left:0 !important;width:315px !important;}
ul::-webkit-scrollbar,div::-webkit-scrollbar,form::-webkit-scrollbar{background-color:#150934 !important;display:none !important;}
.properties-panel::-webkit-scrollbar {display: none;}
.ant-menu-submenu-title{background-color:#321579 !important;border:1px solid #5f2fda !important;border-bottom:1px solid #5f2fda !important;color:#fff !important;}
div.project-nav-item a img{background-image:url(https://hertforddesign.uk/files/thunk-nav-logo.png) !important;object-position:0 -500px;background-size:contain;}
button.ant-btn div{color:#240f57 !important;}
button.ant-btn div div{border:1px solid #ccc;}
.ant-popover-placement-bottom>.ant-popover-content>.ant-popover-arrow,.ant-popover-placement-bottomLeft>.ant-popover-content>.ant-popover-arrow,.ant-popover-placement-bottomRight>.ant-popover-content>.ant-popover-arrow{border-color:transparent transparent #4e22bf #4e22bf;}
.sketch-picker,.ant-popover-placement-right .ant-popover-inner{background-color:#4e22bf !important;}
.sketch-picker span,.ant-popover a,.ant-popover-placement-right .ant-popover-inner-content, .ant-popover-title{color:#fff !important;}
div.tree-title-children {background-color: #240f57 !important;}
button.ant-btn.action-icon.ant-btn-circle.ant-btn-icon-only {background-color: #401C9C;color: #fff !important;}
input.ant-input {background-color: #150934;color: #fff !important;}
button.ant-btn {background-color: #150934;color: #fff !important;}
button.ant-btn div {color: #fff;}i.anticon.anticon-down svg {color: #fff !important;}
i.anticon.anticon-close-circle.reset-button svg {color: #ffff !important;background-color: #150934 !important;}
.anticon.anticon-close-circle.reset-button svg {fill: #fff !important;}
div.ant-collapse-item {background-color: #150934 !important;color: #fff;border-style: none;}
div.ant-collapse-header {background-color: #150934 !important;color: #fff !important;padding-left: 10px !important;padding-top: 5px;padding-bottom: 5px;padding-right: 5px;}
div.ant-collapse-item.ant-collapse-item {margin-left: 0;padding-left: 0;padding-bottom: 0;}
div.ant-collapse-content-box {padding-left: 10px;padding-bottom: 5px;padding-right: 10px;padding-top: 5px;border-style: solid;border-color: #5F2FDA;border-top-width: 1px;border-left-width: 1px;border-bottom-width: 1px;border-right-width: 1px;}
span.ant-input-suffix{color:#fff  !important;}
div.ant-collapse-item{background-color:#321579 !important;}
div.ant-collapse-header{background-color:#321579  !important;color:#fff !important;padding-left:15px !important;}
div.ant-collapse-item.ant-collapse-item-active{background-color:#240f57 !important;border-style:none;}
.tree-node-item.project-settings .view-icon:hover{transform:scale(7.5);z-index:9999;position:fixed;left:100px;}
div.ant-collapse-content-box{padding-left:10px !important;padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;}
.ant-form-item-children button.ant-btn div{color:#fff !important;}
.ant-form-item-children button.ant-btn:hover div{color:#240f57 !important;}
.ant-collapse-item .ant-collapse-item-active{padding-left:15px !important;}
.ant-collapse-item-active .ant-collapse-header{padding-bottom:8px !important;}
.properties-selector .ant-tabs-bar{border-bottom:none !important;}
.ant-collapse-borderless>.ant-collapse-item:last-child{padding-left:0;}
div.ant-form-item-label label{color:#fff !important;}
.form-item-container{border-left:none;}
.properties-panel .ant-tabs-nav.ant-tabs-nav-animated{width:100%;}
.properties-panel .ant-tabs-nav-container .ant-tabs-nav .ant-tabs-tab{width:50%;}
.properties-panel .ant-tabs-nav .ant-tabs-tab:hover{background-color:#401C9C !important;color:#fff !important;}
.properties-panel .ant-tabs-nav .ant-tabs-tab-active:hover{background-color:#5F2FDA !important;}
.assets div.empty-text {background-color: #240f57  !important;color: #fff !important;}
.ant-btn.disabled, .ant-btn[disabled]{color: #150934 !important;}
.ant-switch-checked {background-color: #1AD66C;}
div.app-properties {background-color: #240f57;}
div.ant-card.ant-card-bordered {background-color: #321579 !important;}
div.ant-card-head-title {color: #FFFFFF !important;}
div.ant-card-head {background-color: #150934 !important;}
.ant-popover-inner-content a{text-decoration: underline;}
.ant-modal-body .ant-modal-body{padding: 0 0 24px;box-shadow: 0px 0px 30px 5px #000;}
span.ant-modal-close-x i{color: #fff;}
.live-test-message button.ant-btn:hover{background-color: #401C9C;color: #fff !important;transition-duration: 0.1s;}
.live-test-message button.ant-btn.ant-btn-link{background-color:#4E22BF;border-radius:5px;box-shadow:0 5px 5px 0px rgba(0,0,0,0.3);}
.live-test-message button.ant-btn.ant-btn-link:hover{color: #fff;background-color: #5F2FDA;box-shadow:0 0 10px 2px #5F2FDA;color: #fff !important;transition-duration: 0.1s;}
div.ant-modal-content{background-color:#2B1268;}
.live-test-message.web-companion p,.live-test-message.web-companion .ant-btn.info-badge i{color:#fff !important;}
.live-test-message.web-companion p{margin-bottom: 10px;}
.live-test-message.web-companion div a{color:#ccc;padding:8px 16px; background-color:#4E22BF;border-radius:5px;box-shadow:0 5px 5px 0px rgba(0,0,0,0.3);}
.live-test-message.web-companion div a:hover{color: #fff;background-color: #5F2FDA;box-shadow:0 0 10px 2px #5F2FDA;}
p.live-test-message,.ant-divider-inner-text{color:#fff;}
.live-test-apps-container .live-test-message a{color:#a581ff;text-decoration: underline !important;}
.live-test-apps-container .live-test-message a:hover{color: #fff;}
.live-test-instruction-container img[alt="thunkable companion in a phone"] {background-color: #150934;border-radius: 20px 20px 0 0;}
.live-test-content-container .live-test-device-content-container {border: 1px solid rgba(255,255,255,.2);}
.ant-col.live-test-device-container>p{font-size: 16px;}
/*	
v0.1.53
Further styling to live message modal (2)
*/
