.ant-collapse-content.ant-collapse-content-active {
  background-color: #240f57;
}

.ant-form-item-children div {
  color: #FFF;
}

.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after {
  border-right: none ;
}

.ant-menu-sub.ant-menu-inline>.ant-menu-item {
  background-color: #240f57;
}

.ant-menu-submenu-active .ant-menu-submenu-title, .ant-menu-submenu-open .ant-menu-submenu-title {
  margin-top: 5px;
  transition: 0.1s ease-in-out;
}

.ant-menu-submenu-inline .ant-menu-submenu-title {
  margin: 5px 0 0 0;
  transition: 0.1s ease-in-out;
}

.ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow:after, .ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow:before, .ant-menu-submenu-vertical-left>.ant-menu-submenu-title .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical-left>.ant-menu-submenu-title .ant-menu-submenu-arrow:before, .ant-menu-submenu-vertical-right>.ant-menu-submenu-title .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical-right>.ant-menu-submenu-title .ant-menu-submenu-arrow:before, .ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow:before {
  background: #9574E7 ;
}

.ant-select-focused .ant-select-selection, .ant-select-selection:active, .ant-select-selection:focus {
  border-color: #5F2FDA;
  box-shadow: 0px 0px 8px 2px #7A52E0;
}

.ant-select-selection {
  background: #321579;
  border: 1px solid #7A52E0;
  color: #fff;
}

.ant-tabs-nav .ant-tabs-tab {
  margin: 0 16px 0 16px;
}

.ant-tabs-tab-prev-icon-target svg, .ant-tabs-tab-next-icon-target svg {
  fill: #fff ;
  font-size: 16px;
  font-weight: bold;
  height: 1.2em;
  margin-top: 8px;
  width: 1.2em;
}

.anticon.anticon-plus svg {
  fill: white;
}

.blocklyDisabled path {
  fill: #777;
}

.blocklyFlyout {
  border-right: 1px solid #5F2FDA;
}

.blocklyFlyoutBackground {
  fill: #240f57;
  fill-opacity: .7;
}

.blocklyMainBackground {
  fill: #150934 ;
  stroke: none;
}

.blocklySvg {
  background-color: #000 ;
}

.blocklyToolboxDiv {
  background-color: #321579 ;
  border-right: 1px solid #5F2FDA;
  box-shadow: 5px 0px 30px 5px  #0E0623;
  color: #fff ;
  z-index: 2;
}

.blocklyTreeRow {
  line-height: 19px;
}

.blocklyTreeRow:hover, .blocklyTreeLabel:hover {
  cursor: pointer;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: #5F2FDA ;
}

.blocklyTreeSelected .blocklyTreeLabel {
  color: #fff ;
  font-weight: 500;
}

.component-gallery-panel .ant-menu-submenu-title {
  border-bottom: 1px solid #5F2FDA;
}

.component-tree .caret {
  color: #cdac46;
  margin-left: 2px;
}

.designer div.designer-sidebar-container {
  border-right: 1px solid #5F2FDA;
  box-shadow: 5px 0px 30px 5px  #070311;
  z-index: 2;
}

.gallery-item {
  background: #240f57;
  border: 1px solid #5F2FDA;
  box-shadow: 0px 3px 4px 2px #150934;
  cursor: pointer;
  margin-bottom: 2px;
  margin-top: 2px;
}

.gallery-item img:nth-child(2) {
  border-radius: 25px ;
}

.gallery-item:hover {
  background: #5F2FDA ;
  border: 1px solid #5F2FDA;
  box-shadow: 0px 0px 8px 3px #5F2FDA;
}

.gallery-item:hover .icon {
  filter: invert(100%) brightness(2000%) contrast(100%) saturate(0%) hue-rotate(180deg) ;
}

.gallery-items {
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px 5px;
  width: auto;
}

.invisible-component-container {
  background: transparent;
  border: 1px solid transparent ;
  border-radius: 4px;
  padding: 4px;
}

.invisible-component-container:hover {
  background: #321579;
  border: 1px solid 
#5F2FDA ;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
}

.invisible-component-container:hover .view-icon {
  filter: brightness(200%);
}

.invisible-component-container:hover .view-icon[src="/static/media/viewIconFirebaseDB.124dd0d4.svg"] {
  filter: brightness(200%);
}

.new-screen-button {
  background: #240f57;
  border: 1px solid #5F2FDA;
  box-shadow: 0px 0px 6px 1px #150934;
}

.new-screen-button:hover {
  background: #5F2FDA ;
  border: 1px solid #5F2FDA;
  box-shadow: 0px 0px 8px 2px #5F2FDA;
}

.phone-preview {
  background: url(https://hertforddesign.uk/files/SmartphoneBezel_New_glow_x4.png) no-repeat;
  background-size: contain;
  margin-top: 20px;
}

.properties-panel {
  border-left: 1px solid #4E22BF;
  box-shadow: -5px 0px 30px 5px  #070311;
  z-index: 2;
}

.properties-panel .ant-tabs-nav .ant-tabs-tab {
  background-color: #321579 ;
  color: #eee ;
}

.properties-panel .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
  background-color: #5F2FDA ;
  color: #ffffff ;
}

.properties-panel .property-component-name-container {
  background-color: transparent;
  border-bottom: none;
  padding-bottom: 8px;
  padding-top: 10px;
}

.properties-selector .ant-tabs-nav-container-scrolling {
  padding-left: 0px;
  padding-right: 0px;
}

.properties-selector .ant-tabs-tab-prev, .properties-selector .ant-tabs-tab-next {
  display: none;
}

.properties-selector div.ant-tabs-tab {
  border-bottom: 1px solid  #7A52E0;
  margin: 0 0 16px ;
}

.properties-selector div.ant-tabs-tab-active.ant-tabs-tab {
  background-color: #444 ;
}

.title-bar .tab.active {
  background-color: #5F2FDA ;
  border-color: #713Df5;
  color: #fff;
}

.title-bar .tabs .tab {
  background-color: #150934;
  border-color: #7A52E0;
  color: #fff;
}

.title-bar .tabs .tab.active:hover {
  background-color: #5F2FDA;
}

.title-bar .tabs .tab:hover {
  background-color: #401C9C;
  border-color: #713Df5;
  color: #fff;
}

.tree-node-children, .tree-title-children {
  border-left: 2px solid #aaa;
}

.tree-node-item-wrapper {
  border-left: 0px;
  border-right: 0px;
  border-width: 2px ;
}

.tree-node-item-wrapper.active .tree-node-item {
  background-color: #4E22BF ;
}

.tree-node-item-wrapper.active img.view-icon {
  filter: invert(100%) brightness(2000%) contrast(100%) saturate(0%) hue-rotate(180deg) ;
}

.tree-node-item-wrapper:active, .tree-node-item-wrapper:focus, .tree-node-item-wrapper:hover, .tree-node-item:hover {
  background-color: #321579;
  background-image: none;
  border: 3px 0px solid #333;
  color: #fff;
}

.tree-node-item.project-settings {
  border-radius: 0;
}

/**
Colours:
#150934
#240f57
#33157a
#421b9d
#5021c0
#622edc
#7c51e1
#9673E7

V2
#150934
#240f57
#321579
#401C9C
#4E22BF
#5F2FDA
#7A52E0
#9574E7
**/

div, ul, nav, body {
  -ms-overflow-style: none;
}

div.ant-alert.ant-alert-error.ant-alert-banner.ant-alert-closable.banner {
  background-color: #222;
  color: #ffffff;
}

div.ant-col.ant-form-item-label {
  color: #ffffff;
}

div.ant-col.ant-form-item-label label {
  color: #ffffff;
}

div.ant-menu-submenu-title {
  background-color: #321579;
  border: 1px solid #5F2FDA;
  border-bottom: 1px solid #5F2FDA;
  color: #ffffff;
}

div.ant-tabs-ink-bar {
  background-color: #9574E7;
}

div.ant-tabs-tab-active.ant-tabs-tab {
  background-color: #5F2FDA;
  color: #ffffff ;
}

div.ant-tabs-tab:hover {
  background-color: #38188c;
  color: #eee;
}

div.asset-tree-header.designer-sidebar-title {
  color: #ffffff;
}

div.banners {
  background-color: #222;
}

div.component-gallery-header {
  background-color: #150934;
  color: #ffffff;
}

div.component-gallery-panel {
  background-color: #150934;
  border-style: none;
  padding: 5px 10px;
}

div.designer {
  background-color: #150934;
}

div.designer-sidebar-container {
  background-color: #150934;
  color: #ffffff;
}

div.empty-text {
  color: #000000;
}

div.gallery-item {
  color: #ffffff;
}

div.gallery-item-wrapper, .ant-menu-submenu, .ant-menu-sub, .ant-menu-item {
  background-color: transparent ;
}

div.gallery-items {
  background-color: #240f57;
  border: none;
}

div.invisible-component-bar {
  background-color: #240f57;
  border-bottom-width: 1px;
  border-color: #5F2FDA;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  box-shadow: 5px 0px 30px 5px  #070311;
}

div.preview-container {
  background-color: #0E0623;
}

div.project-editor {
  background-color: #150934;
  overflow: auto;
}

div.project-nav {
  background-color: #150934;
}

div.project-nav .banners {
  background-color: #0E0623 ;
}

div.project-nav-item a img {
  content: url(https://hertforddesign.uk/files/thunk-nav-logo.png);
}

div.project-nav-item span {
  color: #ffffff;
}

div.project-nav-item.logo-item {
  background-color: #150934;
}

div.screen-tab-container {
  background-color: #1C0C46;
}

div.title-bar {
  background-color: #1C0C46;
  border: 1px solid #401C9C;
}

div.title.designer-sidebar-title {
  background-color: #150934;
  color: #ffffff;
}

div.title.designer-sidebar-title span {
  color: #ffffff;
}

div.tree-node-children-wrapper {
  background-color: #240f57;
}

div.tree-node-item-wrapper {
  background-color: #000000 ;
  border-color: #303030 ;
  border-style: solid ;
  border-top-width: 0 ;
  color: #ffffff ;
}

div.tree-node-item.project-settings {
  background-color: #150934;
  border-left-width: 0;
  border-right-width: 0;
  border-style: none;
  border-top-width: 0;
}

div.tutorial-panel-container {
  background-color: #150934;
}

form.ant-form.ant-form-vertical.properties-panel {
  background-color: #240f57 ;
  color: #ffffff ;
}

i.anticon.anticon-ellipsis.resize-handle-ellipsis {
  background-color: #321579;
  border-bottom: 1px solid #5F2FDA;
  border-top: 1px solid #5F2FDA;
  color: #fff;
}

i.anticon.anticon-ellipsis.resize-handle-ellipsis:hover, i.anticon.anticon-ellipsis.resize-handle-ellipsis:active {
  -moz-box-shadow: 0px 0px 8px 2px #5F2FDA;
  -webkit-box-shadow: 0px 0px 8px 2px #5F2FDA;
  background-color: #5F2FDA;
  box-shadow: 0px 0px 8px 2px #5F2FDA;
  z-index: 50;
}

li.ant-menu-item.ant-menu-item-active {
  background-color: #000000;
  border-style: none;
}

rect.blocklyMainBackground {
  background-color: #000000 ;
}

span.ant-alert-message div {
  color: #ffffff;
}

span.invisible-component-name {
  color: #ffffff;
}

span.properties-component-label {
  color: #ffffff;
}

ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
  background-color: #150934;
  border-style: none;
}

ul.ant-menu.ant-menu-sub.ant-menu-inline {
  background-color: #150934 ;
  margin-left: 0;
  width: 315px;
}

ul::-webkit-scrollbar, div::-webkit-scrollbar {
  background-color: #150934;
  display: none;
}
